<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>

        <%- include('../pages/dashboard') %>
    

    <footer>
        <!-- <%- include('../common/footer') %> -->
    </footer>
</body>

</html>